name: Terraform
on:
  issue_comment:
    types:
      - 'created'
  pull_request:
    types: [ opened, reopened, synchronize, edited ]
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v1

      - uses: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: 'Run Terraform'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          config_file: .
